* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1F2937;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  list-style: none;
  color: #E5E7EB;
  font-size: 18px;
}

.hero-section-container {
  display: flex;
}

.hero-left {
  width: 50%;
  padding-left: 432px;
  margin-top: 100px;
  margin-bottom: 130px;
}

.hero-left-title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-left-subtitle {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-left-button {
  display: inline-block;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  margin-top: 10px;
  height: 35px;
  width: 125px;
  font-size: 18px;
  font-weight: 900;
}

.hero-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.placeholder-box {
  background-color: #71797E;
  color: #E5E7EB;
  height: 225px;
  width: 500px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 130px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-box {
  border: 4px solid #3882F6;
  width: 200px;
  height: 200px;
  border-radius: 25px;
}

.card-text {
  text-align: center;
  font-size: 22px;
}

.quote-section {
  background-color: #E5E7EB;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-and-citation {
  display: flex;
  flex-direction: column;
}

blockquote {
  font-style: italic;
  font-size: 36px;
  font-weight: 100;
}

cite {
  align-self: flex-end;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  margin-right: 75px;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  margin-top: 125px;
  margin-bottom: 125px;
  background-color: #3882F6;
  width: 70%;
  padding-top: 75px;
  padding-bottom: 75px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.cta-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.cta-main-p {
  font-size: 25px;
  font-weight: bold;
  color: #F9FAF8;
}

.cta-secondary-p {
  color: #E5E7EB;
  font-size: 18px;
}

.cta-button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid white;
  color: #F9FAF8;
  background: none;
  font-size: 20px;
  font-weight: bold;
}

footer {
  height: 125px;
  background-color: 
}